<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url shortner by kennedfer</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800" rel="stylesheet">

     <link href="/public/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="center-container">
        <div class="main-msg">
            Create <span>SHORT</span> links<br>
            with a click!
        </div>

        <form action="/api/shorturl/" method="POST" class="input-container">
            <input id="url" name="url" class="rounded-border" placeholder="https://kennedfer.github.io" type="text" >
            <button type="submit" value="Submit" class="rounded-border" >SHORTEN</button>
        </form>
    </div>

    
    <footer>acess <span>https://kennedfer-url-shortner.onrender.com/api/shorturl/your_link_short_url</span> to use :) <br> <a target="_blank" href="https://kennedfer.github.io/">by kennedfer</a></footer>
</body>
</html>